<% include header %>
<div class="login-container">
    <h1>用户注册</h1>
    <form action="" class="login-form">
        <input class="login-input1" type="text" placeholder="请输出账号" name="name">
        <span class="login-span1"></span>
        <br>
        <input class="login-input2" type="password" placeholder="请输入密码" name="passe">
        <span class="login-span2"></span>
        <br>
        <input  class="login-input3" type="password" placeholder="请确认密码" name="passes">
        <span class="login-span3"></span>
        <br>
        <input class="login-input4" type="text" placeholder="请输入邮箱" name="email">
        <span class="login-span4"></span><br>
        <p class="login-p"></p>
        <button class="login-button" type="button">提交</button>
    </form>
</div>
<% include footer %>
<script src="javascripts/login.js"></script>